.navbar {
    margin-bottom: 0;
}

.app-content {
    padding: 15px;
}

.button-search{
    align-content: center;
}
.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
  text-align:center
}