<app-header></app-header>
<div class="app-content">

    <div data-bind="page: {role: 'start'}">
        <index></index>

    </div>

    <div data-bind="page: {id: 'results', params: ['departurePlace','arrivalPlace','departureDate','returnDate', 'number', 'type']}">
        <app-results></app-results>
    </div>

    <div data-bind="page: {id: 'selected-route', params: ['routeId', 'numberOfPassenger']}">
        <selected-route params="routeId: routeId, numberOfPassenger: numberOfPassenger">
            <div data-bind="page: {id: 'passenger-info', role: 'start'}">
                <passenger-info></passenger-info>
            </div>
            <div data-bind="page: {id: 'ticket-info'}">
                <ticket-info></ticket-info>
            </div>
            <div data-bind="page: {id: 'order-summary'}">
                <order-summary></order-summary>
            </div>
        </selected-route>
    </div>


</div>
<app-footer></app-footer>