<app-header></app-header>
<div class="app-content">

    <div data-bind="page: {role: 'start'}">
        <index></index>
     
    </div>
   
    <div data-bind="page: {id: 'results', params: ['departurePlace','arrivalPlace','departureDate','returnDate', 'number']}">
        <app-results></app-results>
    </div>
    
    <div data-bind="page: {id: 'passenger-info'}">
        <passenger-info></passenger-info>
    </div>
    
    <div data-bind="page: {id: 'ticket-info'}">
        <ticket-info></ticket-info>
    </div>
</div>
<app-footer></app-footer>