<div class="content">
    <app-header params="isCurrentUserSignedIn: isCurrentUserSignedIn"></app-header>
    <div class="app-content">
        <div class="container">

            <div data-bind="page: {role: 'start'}">
                <index></index>
            </div>

            <lazy-page params="id: 'userCabinet', guard: guardPage">
                <user-cabinet></user-cabinet>
            </lazy-page>

            <lazy-page params="id: 'signUp'">
                <sign-up></sign-up>
            </lazy-page>

            <lazy-page params="id: 'results', params: ['departurePlace','departurePlaceId','arrivalPlace','arrivalPlaceId','departureDate','returnDate', 'numberOfPassenger', 'type']">
                <app-results params="departurePlace: departurePlace, departurePlaceId:departurePlaceId,arrivalPlace: arrivalPlace, arrivalPlaceId:arrivalPlaceId, departureDate: departureDate, returnDate: returnDate, numberOfPassenger: numberOfPassenger , type: type"></app-results>
            </lazy-page>

            <lazy-page params="id: 'selected-route', params: ['routeId','numberOfPassenger']">
                <order-tickets params="routeId: routeId,  numberOfPassenger: numberOfPassenger"></order-tickets>
            </lazy-page>
            
            <!-- , guard: guardPage -->
            <lazy-page params="id: 'edit-tickets', params: ['orderId']">
                <edit-tickets params="orderId: orderId"></edit-tickets>
            </lazy-page>
            
            <!-- , guard: guardPage -->
            <lazy-page params="id: 'order', params: ['orderId']">
                <order-full-info params="orderId: orderId"></order-full-info>
            </lazy-page>


            <lazy-page params="id: 'sign-in'">
                <sign-in></sign-in>
            </lazy-page>

        </div>
        <div class="push"></div>
    </div>
</div>
<app-footer></app-footer>
