<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyFlights</title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- /GOOGLE FONTS -->
    <link href="~/Client/Libs/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Client/dist/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <app-layout></app-layout>
</body>
<script src="~/Client/dist/manifest.bundle.js"></script>
<script src="~/Client/dist/libs.bundle.js"></script>
<script src="~/Client/dist/app.bundle.js"></script>
</html>