    <div class="row">
        <div class="col-md-5 pull-left">
            <h4> <span data-bind="text: departurePlace">&nbsp;&nbsp;</span>&nbsp;<span data-bind="text: departureDate"></span></h4>
        </div>
        <div class="col-md-5 pull-right">
            <h4><span data-bind="text: destinationPlace"></span>&nbsp;&nbsp;<span data-bind="if: returnDate"><span data-bind="text: returnDate"></span></span></h4>
        </div>
        <h4><b data-bind="if:returnDate"><===============></b></h4>
        <h4><b data-bind="ifnot:returnDate">===============></b></h4>
    </div>

