<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Easy Flights</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" data-bind="visible: !isCurrentUserSignedIn()">
                <li class="nav-item nav-link">
                    <a href="#signUp">
                        <i class="glyphicon glyphicon-user">&nbsp;</i> Sign up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLinkActive="active" href="#sign-in">
                        <i class="glyphicon glyphicon-log-in">&nbsp;</i>Sign In
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-bind="visible: isCurrentUserSignedIn">
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLinkActive="active" href="#userCabinet">
                        <i class="glyphicon glyphicon-info-sign">&nbsp;</i>Cabinet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLinkActive="active" data-bind="click: signOut">
                        <i class="glyphicon glyphicon-log-out">&nbsp;</i>Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
